.sc-intro{
    position: relative;
    .intro{
        .video-box{
            position: relative;
            height: 100vh;
            video{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .text-area{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            pointer-events: none;
            .text{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: #fff;
                font-size: 52px;
                font-weight: bold;
                line-height: 1.35;
                white-space: nowrap; 
                opacity: 0;
                &:first-child{opacity: 1;}
                &:nth-child(4){
                    font-size: 24px;
                    line-height: 1.67;
                }
            }
            .ic-arrow{
                position: absolute;
                bottom: 40px;
                left: 50%;
                transform: translateX(-50%);
                z-index: 1;
            }
        }
    }
}
.sc-showcase{
    position: relative;
    height: 100vh;
    .group-img{
        .img-box{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            overflow: hidden;
            img{
                width: 100vw;
                // height: 100vh !important;
                height: 100vh;
                object-fit: cover;
            }
        }
    }
    .group-title,.text{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #fff;
        p{
            opacity: 0;
        }
    }
    .group-title{
        font-size: 100px;
        font-weight: bold;
        line-height: 120px;
        p{opacity: 1;}
    }
    .text{
        font-size: 24px;
        font-weight: bold;
        line-height: 35px;
        letter-spacing: -1px;
    }
}
.sc-worker{
    
}
.text-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
.sc-anyone{
    .bg-area {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        overflow: hidden;

        background: url(../images/prove-value.jpg) no-repeat center / cover;
        height: 100%;
    }
    .bg-area2{
        background: url(../images/prove-change.jpg) no-repeat center / cover;
    }
    .text-area{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;

        position: relative;
        z-index: 1;
        height: 100%;
        font-size: 73px;
        font-weight: 700;
        line-height: 90px;
        color: #fff;

        .text{display: block;}
    }
}

.sc-talent{
    .inner{
        position: relative;
        display: flex;
        align-items: flex-start;
    }
    .talent-list {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 200px;
        padding: 100vh 0 100vh 50px;
        .talent-item{
            width: 580px;
            &:nth-child(2){
                align-self: start;
            }
        }
        .desc{
            margin-top: 20px;
            font-weight: bold;
        }
    }
}
.sc-possibility{
    position: relative;
    .title{
        display: flex;
        align-items: center;
        margin-left: 100px;

        color: #fff; //지우기
    }

    .split-area{
        display: flex;
        align-items: stretch;
        width: auto;
        height: 100vh;
        .poss-wrap{
            display: flex;
            align-items: center;
            gap: 160px;
            .possibility-list{
                display: flex;
                gap: 70px;
                .possibility-item{
                    .img-box{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 296px;
                        height: 296px;
                        border: 2px solid #fff;
                        border-radius: 60px;
                        img{
                            max-width: 55%;
                        }
                    }
                    .text{
                        margin-top: 30px;
                        padding-left: 20px;
                        font-size: 24px;
                        font-weight: bold;
                        line-height: 36px;
                        display: block;
                    }
            
                }
            }
    
        }

    }
    .cube-wrap{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100vw;
        height: 100vh;
        .cube-cont{
            position: relative;
            width: 506px;
            height: 500px;
            .img-box{}
            .cube-text{
                position: absolute;
                display: flex;
                flex-direction: column;
                align-items: center;
                color: #fff;
                font-weight: bold;
                em{
                    font-size: 24px;
                    line-height: 1.42
                }
                span{ }

                &.top{
                    top: 9%;
                    left: 50%;
                    transform: translateX(-50%);
                }
                &.left{
                    bottom: 20%;
                    left: 9%;
                }
                &.right{
                    bottom: 20%;
                    right: 9%;
                }
            }
        }
    }

    .possibility-desc{
        position: absolute;
        bottom: 35px;
        left: 100px;
        font-size: 14px;
        line-height: 24px;
        font-weight: 500;
        color: #999;
    }
}

.sc-banner{
    display: flex;
    position: relative;
    height: 170px;
    .col-left{
        display: flex;
        flex: 2;
        .pink-box{
            background: #E657AF;
            flex: 1;
        }
        .blue-box{
            background: #0049FF;
            flex: 1;
        }
    }
    .col-right{
        flex: 1;
        .green-box{
            background: #00BF41;
            height: 100%;
        }
    }
    .text-box{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        height: 170px;
        background: linear-gradient(90deg, rgba(230, 87, 175, 1) 0%, rgba(230, 87, 175, 1) 29%, rgba(0, 73, 255, 1) 39%, rgba(0, 73, 255, 1) 62%, rgba(0, 191, 65, 1) 71%, rgba(0, 191, 65, 1) 100%);
        font-size: 40px;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

.card-list{
    display: flex;
    .card-item {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 400px;
        height: 530px;
        margin-left: 40px;
        padding: 34px;
        color: #fff;
        border-radius: 20px;
        border: 2px solid #fff;
        overflow: hidden;
        background: #000;
        .title-box{
            display: flex;
            justify-content: space-between;
            font-weight: 700;
            min-height: 140px;
            .title{
                font-size: 50px;
                line-height: 1.1;
                color: #fff;
            }
            .caption{
                font-size: 30px;
            }
        }
        .img-box{
            width: 280px;
        }
        .info-box{
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            .info-title{
                font-size: 24px;
                font-weight: bold;
            }
            .ico-minus{
                // margin-left: auto;
                width: 40px;
                height: 40px;
                display: block;
                background: url(../images/circle-minus.png) no-repeat center center / 100%
            }

            .user{
                display: flex;
                align-items: center;
                gap: 9px;
                font-size: 16px;
                font-weight: bold;
                line-height: 1.63;

                .color{
                    display: block;
                    width: 36px;
                    height: 36px;
                    border-radius: 50%;

                    &.pink{background: #ff009d;}
                    &.blue{background: #0049ff;}
                    &.green{background: #26ff00;}
                }
            }
        }

        &.gradient{
            padding: 2px;
            border: 0;
            background: linear-gradient(135deg, #43cf2e, #0049ff, #e657af);
        }

        .text{
            font-size: 16px;
            font-weight: bold;
            line-height: 1.63;
            margin-bottom: auto;
        }

        &.blur{
            background: transparent;

            .blur-bg{
                filter: blur(40px);
            }
            &::before{
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                border: none;
                background-color: #888;
                z-index: -2;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        // &.blur .blur-bg{
        //     filter: blur(40px);
        // }
        // &.blur::before{
        //     content: "";
        //     display: block;
        //     width: 100%;
        //     height: 100%;
        //     border: none;
        //     background-color: #888;
        //     z-index: -2;
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        // }
        .blur-bg{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            z-index: -1;
            transition: filter .5s;

            background-blend-mode: multiply;
            background-color: hsla(0, 0%, 42%, .3);
        }
    }
}

.split-area{
    display: flex;
    align-items: center;
    height: 100vh;
    gap: 115px;
    h3{margin-left: 100px;}

    .split-desc{
        padding-right: 100px;
        font-size: 24px;
        font-weight: bold;
        line-height: 40px;
        white-space: nowrap;
    }
}
.sc-safety{


    .gradient{
        padding: 2px;
        border: 0;
        background: linear-gradient(135deg, #43cf2e, #0049ff, #e657af);
        .bg-box{
            width: 100%;
            height: 100%;
            border-radius: 20px;
            background: #000;
            i{
                width: 150px;
                display: block;
                position: absolute;
                z-index: 3;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
    
                opacity: 0;
            }
            .ico-lock{}
            .ico-unlock{}
            .card-text{
                display: block;
                position: absolute;
                z-index: 3;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
    
                font-size: 40px;
                font-weight: bold;
                color: transparent;
                background: linear-gradient(90deg, #43cf2e, #0049ff, #e657af);
                background-clip: text;
            }
        }
    }

    .mix-scroll{
        // position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 200px 100px 0px 505px;

        .title{
            margin-bottom: 30px;
        }
        .service-list{
            display: flex;
            flex-direction: column;
            gap: 36px;
            margin-top: 70px;
            .service-item{
                position: relative;
                display: flex;
                align-items: center;
                color: #fff;
                gap: 52px;
                .item-title{
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 400px;
                    height: 200px;
                    padding: 2px;
                    background: linear-gradient(135deg, #43cf2e, #0049ff, #e657af);
                    border-radius: 20px;
                    text-align: center;
                    &::before{
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 396px;
                        height: 196px;
                        background: #000;
                        border-radius: 20px;
                    }
                    .bg{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        z-index: 2;
                        font-size: 28px;
                        font-weight: bold;
                        line-height: 40px;
                        color: transparent;
                        background: linear-gradient(90deg, #43cf2e, #0049ff, #e657af);
                        background-clip: text;
                    }
                }
                .info{
                    flex-shrink: 1;
                    font-size: 24px;
                    font-weight: bold;
                    letter-spacing: 0.025em;
                }
            }
        }

        .service-box2{
            width: 1100px;
            max-width: 100%;
            margin: 170px 0 0;
            padding-left: 40px;
            .sub-title{
                font-weight: bold;
                font-size: 60px;
                line-height: 1;
                margin-bottom: 70px;
            }

            .ing-list{
                display: flex ;
                gap: 27px;

                .info{
                    margin-top: 24px;
                    font-size: 24px;
                    line-height: 1.67;
                    font-weight: bold;
                }
            }

        }

        .service-box3{
            position: relative;
            .card-list{
                display: flex;
                align-items: center;
                position: relative;
                // width: calc(100% + 2px);
                height: 100vh;
            }
            .card-lock{
                position: absolute;
                top: 50%;
                left: -440px;
                transform: translateY(-50%);
                overflow: visible;

                .bg-light{
                    display: block;
                    background: url(../images/card-bg-blur.png) no-repeat center;
                    width: 160%;
                    height: 160%;
                    left: -30%;
                    top: -30%;
                    position: absolute;
                    background-size: cover;
                    transform: translate(-50%, -50%);
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    z-index: -1;
                }
            }
            // .card-item+.card-item{
            //     background: transparent;
            //     border: 0;
            // }
            .card-item{
                &+.card-item{
                    background: transparent;
                    border: 0;
                }
                // &.blur .blur-bg{
                //     filter: blur(40px);
                // }
                // &.blur::before{
                //     content: "";
                //     display: block;
                //     width: 100%;
                //     height: 100%;
                //     border: none;
                //     background-color: #888;
                //     z-index: -2;
                //     position: absolute;
                //     top: 0;
                //     left: 0;
                // }
                // .blur-bg{
                //     position: absolute;
                //     top: 0;
                //     left: 0;
                //     width: 100%;
                //     height: 100%;
                //     background-repeat: no-repeat;
                //     background-size: cover;
                //     z-index: -1;
                //     transition: filter .5s;

                //     background-blend-mode: multiply;
                //     background-color: hsla(0, 0%, 42%, .3);
                // }

               .bg1{background: url(../images/safety-vt4.png)no-repeat center / cover;} 
               .bg2{background: url(../images/safety-vt5.png)no-repeat center / cover;} 
               .bg3{background: url(../images/safety-vt6.png)no-repeat center / cover;} 
            }
            .end-text{
                display: flex;
                align-items: center;
                position: absolute;
                top: 0;
                left: 200px;
                height: 100vh;
                color: #fff;
                font-size: 73px;
                font-weight: bold;
                line-height: 90px;
            }
        }
    }
    .fot-desc{
        width: 700px;
        max-width: 100%;
        font-size: 24px;
        font-weight: 600;
        line-height: 40px;
    }
}

.sc-economy{
    position: relative;
    .card-item{
        &:nth-child(1){
            background: #E657AF;
        }
        &:nth-child(2){
            background: #0049FF;
        }
        &:nth-child(3){
            background: transparent;
        }

        .title-box{
            min-height: 100px;
            .title{color: #fff;}
            .right{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                font-family: $Archivo;

                .caption{font-family: sans-serif; font-weight: 500;}
            }
        }
        .info-box{
            .info-title{font-size: 16px;}
        }
        .bg4{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url(../images/finance.png) no-repeat center / cover;
            transition-delay: .2s;
        }
    }

    .desc-box{
        margin-bottom: auto;
        display: flex;
        flex-direction: column;
        z-index: 2;
        em{
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 15px;
        }
        .desc{margin-bottom: 40px;}
    }

    .arrow-area{
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 24px;
        font-weight: bold;
        // opacity: 0;
        transition: opacity .5s;
        &.on{
            opacity: 1;
        }
        
        .arrow-wrap{
            display: flex;
            margin-bottom: 25px;
            .arrow{
                position: relative;
                display: block;
                width: 27px;
                height: 27px;
                margin-left: -6px;
                background: #000;
                transform: rotate(45deg);
                animation: arrow 1s alternate infinite ease;

                &::before {
                    content: '';
                    position: absolute;
                    bottom: -11px;
                    left: -11px;
                    width: 30px;
                    height: 30px;
                    background: #fff;
                }
                &.arrow1{
                    z-index: 7;
                    background: linear-gradient(45deg, #ee5787 55%, #0049ff 140%);
                    animation-delay: 0.1s;
                }
                &.arrow2{
                    z-index: 6;
                    background: linear-gradient(45deg, #ee5787 30%, #0049ff 120%);
                    animation-delay: 0.2s;
                }
                &.arrow3{
                    z-index: 5;
                    background: linear-gradient(45deg, #ee5787 10%, #0049ff 100%);
                    animation-delay: 0.3s;
                }
                &.arrow4{
                    z-index: 4;
                    background: linear-gradient(45deg, #ee5787 5%, #0049ff 70%, #43cf2e 160%);
                    animation-delay: 0.4s;
                }
                &.arrow5{
                    z-index: 3;
                    background: linear-gradient(45deg, #ee5787 5%, #0049ff 50%, #43cf2e 140%);
                    animation-delay: 0.5s;
                }
                &.arrow6{
                    z-index: 2;
                    background: linear-gradient(45deg, #ee5787 0%, #0049ff 30%, #43cf2e 120%);
                    animation-delay: 0.6s;
                }
                &.arrow7{
                    z-index: 1;
                    background: linear-gradient(45deg, #0049ff, #43cf2e 85%);
                    animation-delay: 0.7s;
                }
            }

            @keyframes arrow {
                0% {
                    opacity: 0;
                }
                50% {
                    opacity: 0.5;
                }
                100% {
                    opacity: 1;
                }
            }
        }
        .info{
            position: relative;
            span{
                &:nth-child(2){
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    background: #fff;
                    display: block;
                }
            }
            .fade{
                visibility: hidden;
            }
        }
    }
}

.sc-creator{
    display: flex;
    align-items: center;
    position: relative;
    height: 100vh;
    background: url(../images/creator.jpg) no-repeat center / cover;
    text-align: left;
    padding: 0 200px;
    color: #fff;

    .title{
        font-size: 60px;
        color: #fff;
        line-height: 1.2;
        margin-bottom: 20px;
    }
    .text{
        display: block;
        height: auto;
        font-size: 24px;
        font-weight: 600;
        line-height: 40px;
    }
    .ic-arrow{
        position: absolute;
        bottom: 40px;
        left: 50%;
        width: 40px;
        height: 40px;
        transform: translateX(-50%);
    }
}

.sc-data{
    .card-item{
        background: transparent;
        border: 0;

        &:nth-child(2){
            background: #0049FF;
        }
        &:nth-child(3){
            background: #131415;
        }
        &:nth-child(4){
            background: #00BF41;
        }
        .title-box{
            min-height: 100px;
            .title{
                color: #fff;
                line-height: 65px;
            }
            .caption{font-family: sans-serif; font-weight: 500;}
        }

        .bg2{
            background: url(../images/choi.png) no-repeat center / cover;
        }
    }
    .desc-box{
        margin-top: 40px;
        margin-bottom: auto;

        .text{
            &:last-child{margin-top: 20px;}
        }
    }
    .info-box{
        .color{ background: #FF009D; }
    }
}


.sc-open{
    .inner{
        padding: 200px 100px;
        .desc{
            font-size: 24px;
            font-weight: 600;
            line-height: 40px;
            margin-bottom: 70px;
            margin-top: 30px;
        }
        
        .link-box{
            display: flex;
            align-items: center;
            gap: 20px;
    
            a{
                font-size: 18px;
                font-weight: 600;
                padding: 14px 21px 12px;
                border: 2px solid #000;
            }
            .btn-link{
                background: #000;
                color: #fff;
            }
        }
    }
}

.sc-banner02{
    transform: translateY(100%);
    transition: all .3s .2s;
    /* transition-delay: .2s; */
    overflow: hidden;
    display: flex;
    justify-content: flex-end;

    &.on{
        transform: translateY(0);
    }
    .banner-rolling{
        position: relative;
        display: flex;
        justify-content: flex-end;
        animation: banner2 30s linear infinite;
    
        @keyframes banner2 {
            0% {
                transform: translateX(0);
            }
            100% {
                transform: translateX(100%);
            }
        }
        li{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 250px;
            height: 60px;

            &:nth-child(3n-2){
                background: #00bf41;
            }
            &:nth-child(3n-1){
                background: #0049ff;
            }
            &:nth-child(3n){
                background: #e657af;
            }
        }
        span{
            font-size: 24px;
            font-weight: bold;
            z-index: 2;
            color: #fff;

            i{  font-style: italic;}
        }

        
        &::after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: transparent;
            backdrop-filter: blur(35px);
            // opacity: 1;
            transition: 0.2s 0.5s;
        }

        &:last-child{
            &::before{
                content: '';
                background: linear-gradient(90deg, #e657af 0%, #02be42);
                display: block;
                position: absolute;
                z-index: 3;
                width: 40px;
                height: 60px;
                top: 0;
                left: -20px;
            }
        }
        
    }
}