.gnb{
    .gnb-list{
        display: flex;
        align-items: center;
        margin-top: 7px;
        font-size: 18px;
        line-height: 24px;
        font-weight: 600;

        .gnb-item{
            position: relative;
            a{
                display: inline-block;
                padding: 23px 25px;
                font-size: 18px;
                font-weight: 600;
                line-height: 1;
            }
            .lang-list{
                position: absolute;
                right: 0;
                top: 53px;
                text-align: center;
                background-color: #000;
                border: 1px solid #5a5a5a;
                border-radius: 6px;
                transition: all .3s;
                opacity: 0;
                visibility: hidden;
                &.on{
                    opacity: 1;
                    visibility: visible;
                }
                .lang-item{
                    a{
                        display: block;
                        padding: 2px 14px 4px 13px;
                        font-size: 18px;
                        line-height: 1.33;
                        font-weight: bold;
                        opacity: .3;
                     &.on{
                        opacity: 1;
                    }   
                    &:nth-of-type(1){
                        padding-top: 6px;
                        padding-bottom: 2px;
                    }
                    }
                }
            }
        }
        .btn-lang{
            display: flex;
            gap: 5px;
            line-height: 15px;
            align-items: end;
            padding: 23px 0 25px 23px;
            line-height: 1;
            .arrow{margin-bottom: 3px;}
        }
    }
}