.wrap {
  position: relative;
  min-width: 1440px;
  overflow-x: hidden;
}

body {
  position: relative;
  background: #fff;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
body.dark {
  background: #000;
  color: #fff;
}
body.dark .sc-possibility .title {
  color: #fff;
}
body.dark .title {
  color: #fff;
}
body.dark .header {
  color: #fff;
}
body.dark .header .logo img {
  -webkit-filter: invert(1);
          filter: invert(1);
}
body.dark .header .gnb-item .btn-lang svg {
  -webkit-filter: invert(0);
          filter: invert(0);
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
}

.btn-top {
  position: fixed;
  right: 100px;
  bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  background: #000;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0.5s;
  transition: opacity 0.5s, visibility 0.5s;
  z-index: 99;
  cursor: pointer;
}
.btn-top.on {
  opacity: 1;
  visibility: visible;
}
.btn-top.fixed {
  position: absolute;
  bottom: 300px;
  opacity: 1;
  visibility: visible;
}
.btn-top.hide {
  opacity: 0;
  visibility: hidden;
}

.type-txt1 .title {
  width: 50%;
  word-break: keep-all;
}
.type-txt1 .desc {
  -ms-flex-item-align: end;
      align-self: end;
  width: 50%;
  padding-left: 100px;
  font-size: 24px;
  font-weight: bold;
  line-height: 40px;
  word-break: keep-all;
}

.type-txt2 {
  position: relative;
  padding: 218px 0 226px;
}
.type-txt2 .bg-area {
  height: 100%;
}
.type-txt2 .bg-area .top-right-box {
  position: absolute;
  top: 0;
  right: -400px;
  width: 400px;
  height: 150px;
  background: #fff;
}
.type-txt2 .bg-area .bottom-left-box {
  position: absolute;
  bottom: 0;
  left: -400px;
  width: 400px;
  height: 150px;
  background: #fff;
}

.title {
  font-size: 72px;
  line-height: 1.28;
  font-weight: bold;
  color: #000;
}

.inner {
  padding: 0 100px;
}

@font-face {
  font-family: "Archivo";
  src: url("../fonts/Archivo-Light.woff2") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "Archivo";
  src: url("../fonts/Archivo-Regular.woff2") format("woff2");
  font-weight: normal;
}
@font-face {
  font-family: "Archivo";
  src: url("../fonts/Archivo-SemiBold.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Archivo";
  src: url("../fonts/Archivo-Bold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "NotoSansCJKkr";
  src: url("../fonts/NotoSansCJKkr-Light.woff2") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "NotoSansCJKkr";
  src: url("../fonts/NotoSansCJKkr-Regular.woff2") format("woff2");
  font-weight: normal;
}
@font-face {
  font-family: "NotoSansCJKkr";
  src: url("../fonts/NotoSansCJKkr-Bold.woff2") format("woff2");
  font-weight: 600;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*, :after, :before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
       text-size-adjust: 100%;
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4;
}

html, body {
  height: 100%;
}

body {
  color: #000;
  font-family: "Archivo", "NotoSansCJKkr";
  line-height: 1;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset {
  border: 0;
}

ul, li {
  list-style: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  min-width: 600px;
  opacity: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 17px 100px;
  color: #fff;
}
.header.on {
  -webkit-transform: translate(0);
          transform: translate(0);
  opacity: 1;
}
.header.dark {
  color: #000;
}
.header.dark .logo img {
  -webkit-filter: invert(0);
          filter: invert(0);
}
.header.dark .gnb-item .btn-lang svg {
  -webkit-filter: invert(1);
          filter: invert(1);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header.dark .lang-list a {
  color: #fff;
}
.header .logo a {
  text-decoration: none;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  display: block;
  width: 100px;
}
.header .logo a img {
  width: 100%;
  -webkit-filter: invert(1);
          filter: invert(1);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer {
  position: relative;
  z-index: 1;
  background: #000;
  color: #fff;
}
.footer .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 55px 100px;
}
.footer .inner .addr-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
}
.footer .inner .f-logo {
  display: block;
  width: 193px;
  height: 42px;
}

.gnb .gnb-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 7px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
}
.gnb .gnb-list .gnb-item {
  position: relative;
}
.gnb .gnb-list .gnb-item a {
  display: inline-block;
  padding: 23px 25px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
}
.gnb .gnb-list .gnb-item .lang-list {
  position: absolute;
  right: 0;
  top: 53px;
  text-align: center;
  background-color: #000;
  border: 1px solid #5a5a5a;
  border-radius: 6px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
}
.gnb .gnb-list .gnb-item .lang-list.on {
  opacity: 1;
  visibility: visible;
}
.gnb .gnb-list .gnb-item .lang-list .lang-item a {
  display: block;
  padding: 2px 14px 4px 13px;
  font-size: 18px;
  line-height: 1.33;
  font-weight: bold;
  opacity: 0.3;
}
.gnb .gnb-list .gnb-item .lang-list .lang-item a.on {
  opacity: 1;
}
.gnb .gnb-list .gnb-item .lang-list .lang-item a:nth-of-type(1) {
  padding-top: 6px;
  padding-bottom: 2px;
}
.gnb .gnb-list .btn-lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  line-height: 15px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding: 23px 0 25px 23px;
  line-height: 1;
}
.gnb .gnb-list .btn-lang .arrow {
  margin-bottom: 3px;
}

.sc-intro {
  position: relative;
}
.sc-intro .intro .video-box {
  position: relative;
  width: 100%;
  height: 100vh;
  width: 100vw;
}
.sc-intro .intro .video-box video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sc-intro .intro .text-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}
.sc-intro .intro .text-area .text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  font-size: 52px;
  font-weight: bold;
  line-height: 1.35;
  white-space: nowrap;
  opacity: 0;
}
.sc-intro .intro .text-area .text:nth-child(4) {
  font-size: 24px;
  line-height: 1.67;
}
.sc-intro .intro .text-area .ic-arrow {
  position: absolute;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}

.sc-showcase {
  position: relative;
  height: 100vh;
}
.sc-showcase .group-img .img-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.sc-showcase .group-img .img-box img {
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.sc-showcase .group-title, .sc-showcase .text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}
.sc-showcase .group-title p, .sc-showcase .text p {
  opacity: 0;
}
.sc-showcase .group-title {
  font-size: 100px;
  font-weight: bold;
  line-height: 120px;
}
.sc-showcase .group-title p {
  opacity: 1;
}
.sc-showcase .text {
  font-size: 24px;
  font-weight: bold;
  line-height: 35px;
  letter-spacing: -1px;
}

.text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.sc-anyone .bg-area {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  overflow: hidden;
  background: url(../images/prove-value.jpg) no-repeat center/cover;
  height: 100%;
}
.sc-anyone .bg-area2 {
  background: url(../images/prove-change.jpg) no-repeat center/cover;
}
.sc-anyone .text-area {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  z-index: 1;
  height: 100%;
  font-size: 73px;
  font-weight: 700;
  line-height: 90px;
  color: #fff;
}
.sc-anyone .text-area .text {
  display: block;
}

.sc-talent .inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.sc-talent .inner .title {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sc-talent .talent-list {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  gap: 200px;
  padding: 100vh 0 100vh 50px;
}
.sc-talent .talent-list .talent-item {
  width: 580px;
}
.sc-talent .talent-list .talent-item:nth-child(2) {
  -ms-flex-item-align: start;
      align-self: start;
}
.sc-talent .talent-list .desc {
  margin-top: 20px;
  font-weight: bold;
}

.sc-possibility {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sc-possibility .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 100px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.sc-possibility .split-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  height: 100vh;
}
.sc-possibility .split-area .poss-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 160px;
}
.sc-possibility .split-area .poss-wrap .possibility-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 70px;
}
.sc-possibility .split-area .poss-wrap .possibility-list .possibility-item .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 296px;
  height: 296px;
  border: 2px solid #fff;
  border-radius: 60px;
}
.sc-possibility .split-area .poss-wrap .possibility-list .possibility-item .img-box img {
  max-width: 55%;
}
.sc-possibility .split-area .poss-wrap .possibility-list .possibility-item .text {
  margin-top: 30px;
  padding-left: 20px;
  font-size: 24px;
  font-weight: bold;
  line-height: 36px;
  display: block;
}
.sc-possibility .cube-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}
.sc-possibility .cube-wrap .cube-cont {
  position: relative;
  width: 506px;
}
.sc-possibility .cube-wrap .cube-cont .img-box {
  position: relative;
  width: 506px;
}
.sc-possibility .cube-wrap .cube-cont .cube-text {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-weight: bold;
}
.sc-possibility .cube-wrap .cube-cont .cube-text em {
  font-size: 24px;
  line-height: 1.42;
}
.sc-possibility .cube-wrap .cube-cont .cube-text.top {
  top: 9%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.sc-possibility .cube-wrap .cube-cont .cube-text.left {
  bottom: 20%;
  left: 9%;
}
.sc-possibility .cube-wrap .cube-cont .cube-text.right {
  bottom: 20%;
  right: 9%;
}
.sc-possibility .possibility-desc {
  position: absolute;
  bottom: 35px;
  left: 100px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  color: #999;
}

.sc-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 170px;
}
.sc-banner .col-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}
.sc-banner .col-left .pink-box {
  background: #E657AF;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.sc-banner .col-left .blue-box {
  background: #0049FF;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.sc-banner .col-right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.sc-banner .col-right .green-box {
  background: #00BF41;
  height: 100%;
}
.sc-banner .text-box {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 170px;
  background: -webkit-gradient(linear, left top, right top, from(rgb(230, 87, 175)), color-stop(29%, rgb(230, 87, 175)), color-stop(39%, rgb(0, 73, 255)), color-stop(62%, rgb(0, 73, 255)), color-stop(71%, rgb(0, 191, 65)), to(rgb(0, 191, 65)));
  background: linear-gradient(90deg, rgb(230, 87, 175) 0%, rgb(230, 87, 175) 29%, rgb(0, 73, 255) 39%, rgb(0, 73, 255) 62%, rgb(0, 191, 65) 71%, rgb(0, 191, 65) 100%);
  font-size: 40px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  opacity: 0;
}

.card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.card-list .card-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 400px;
  height: 530px;
  margin-left: 40px;
  padding: 34px;
  color: #fff;
  border-radius: 20px;
  border: 2px solid #fff;
  overflow: hidden;
  background: #000;
}
.card-list .card-item .title-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 700;
  min-height: 140px;
}
.card-list .card-item .title-box .title {
  font-size: 50px;
  line-height: 1.1;
  color: #fff;
}
.card-list .card-item .title-box .caption {
  font-size: 30px;
}
.card-list .card-item .img-box {
  width: 280px;
}
.card-list .card-item .info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.card-list .card-item .info-box .info-title {
  font-size: 24px;
  font-weight: bold;
}
.card-list .card-item .info-box .ic-minus {
  width: 40px;
  height: 40px;
  display: block;
  background: url(../images/circle-minus.png) no-repeat center center/100%;
}
.card-list .card-item .info-box .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 9px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.63;
}
.card-list .card-item .info-box .user .color {
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.card-list .card-item .info-box .user .color.pink {
  background: #ff009d;
}
.card-list .card-item .info-box .user .color.blue {
  background: #0049ff;
}
.card-list .card-item .info-box .user .color.green {
  background: #26ff00;
}
.card-list .card-item.gradient {
  padding: 2px;
  border: 0;
  background: linear-gradient(135deg, #43cf2e, #0049ff, #e657af);
}
.card-list .card-item .text {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.63;
  margin-bottom: auto;
}
.card-list .card-item.blur {
  background: transparent;
}
.card-list .card-item.blur .blur-bg {
  -webkit-filter: blur(40px);
          filter: blur(40px);
}
.card-list .card-item.blur::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  background-color: #888;
  z-index: -2;
  position: absolute;
  top: 0;
  left: 0;
}
.card-list .card-item .blur-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  -webkit-transition: -webkit-filter 0.5s;
  transition: -webkit-filter 0.5s;
  transition: filter 0.5s;
  transition: filter 0.5s, -webkit-filter 0.5s;
  background-blend-mode: multiply;
  background-color: hsla(0, 0%, 42%, 0.3);
}

.split-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  gap: 115px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.split-area h3 {
  margin-left: 100px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.split-area .split-desc {
  padding-right: 100px;
  font-size: 24px;
  font-weight: bold;
  line-height: 40px;
  white-space: nowrap;
}

.sc-safety .split-area .card-item .img-box {
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.sc-safety .split-area .card-item.fadeIn .img-box {
  opacity: 1;
}
.sc-safety .gradient {
  padding: 2px;
  border: 0;
  background: linear-gradient(135deg, #43cf2e, #0049ff, #e657af);
}
.sc-safety .gradient .bg-box {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: #000;
}
.sc-safety .gradient .bg-box i {
  width: 150px;
  display: block;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.sc-safety .gradient .bg-box .ic-lock {
  opacity: 0;
}
.sc-safety .gradient .bg-box .ic-unlock {
  opacity: 1;
}
.sc-safety .gradient .bg-box .card-text {
  display: block;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 40px;
  font-weight: bold;
  color: transparent;
  background: -webkit-gradient(linear, left top, right top, from(#43cf2e), color-stop(#0049ff), to(#e657af));
  background: linear-gradient(90deg, #43cf2e, #0049ff, #e657af);
  -webkit-background-clip: text;
          background-clip: text;
  opacity: 0;
}
.sc-safety .mix-scroll {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 200px 100px 0px 526px;
}
.sc-safety .mix-scroll .service-box {
  width: 1060px;
  max-width: calc(100vw - 460px);
  -ms-flex-item-align: end;
      align-self: end;
}
.sc-safety .mix-scroll .title {
  margin-bottom: 30px;
  white-space: nowrap;
}
.sc-safety .mix-scroll .service-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 36px;
  margin-top: 70px;
}
.sc-safety .mix-scroll .service-list .service-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  gap: 52px;
}
.sc-safety .mix-scroll .service-list .service-item .item-title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 400px;
  height: 200px;
  padding: 2px;
  background: linear-gradient(135deg, #43cf2e, #0049ff, #e657af);
  border-radius: 20px;
  text-align: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.sc-safety .mix-scroll .service-list .service-item .item-title::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 396px;
  height: 196px;
  background: #000;
  border-radius: 20px;
}
.sc-safety .mix-scroll .service-list .service-item .item-title .bg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  font-size: 28px;
  font-weight: bold;
  line-height: 40px;
  color: transparent;
  background: -webkit-gradient(linear, left top, right top, from(#43cf2e), color-stop(#0049ff), to(#e657af));
  background: linear-gradient(90deg, #43cf2e, #0049ff, #e657af);
  -webkit-background-clip: text;
          background-clip: text;
}
.sc-safety .mix-scroll .service-list .service-item .info {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.025em;
}
.sc-safety .mix-scroll .service-box2 {
  width: 1060px;
  max-width: 100%;
  margin: 170px 0 0;
  max-width: calc(100vw - 460px);
  -ms-flex-item-align: end;
      align-self: end;
}
.sc-safety .mix-scroll .service-box2 .sub-title {
  font-weight: bold;
  font-size: 60px;
  line-height: 1;
  margin-bottom: 70px;
}
.sc-safety .mix-scroll .service-box2 .ing-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 27px;
}
.sc-safety .mix-scroll .service-box2 .ing-list .info {
  margin-top: 24px;
  font-size: 24px;
  line-height: 1.67;
  font-weight: bold;
}
.sc-safety .mix-scroll .service-box3 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: calc(100% + 2px);
  height: 100vh;
}
.sc-safety .mix-scroll .service-box3 .card-list {
  position: absolute;
  left: -468px;
  overflow: visible;
}
.sc-safety .mix-scroll .service-box3 .card-lock .bg-light {
  display: block;
  background: url(../images/card-bg-blur.png) no-repeat center;
  width: 160%;
  height: 160%;
  left: -30%;
  top: -30%;
  position: absolute;
  background-size: cover;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
}
.sc-safety .mix-scroll .service-box3 .card-item + .card-item {
  background: transparent;
  border: 0;
}
.sc-safety .mix-scroll .service-box3 .card-item.blur .blur-bg {
  -webkit-filter: blur(40px);
          filter: blur(40px);
}
.sc-safety .mix-scroll .service-box3 .card-item.blur.card-lock::before {
  background-color: unset;
}
.sc-safety .mix-scroll .service-box3 .card-item.blur .text {
  opacity: 1;
}
.sc-safety .mix-scroll .service-box3 .card-item.gradient {
  background: linear-gradient(135deg, rgb(67, 207, 46), rgb(0, 73, 255), rgb(230, 87, 175));
}
.sc-safety .mix-scroll .service-box3 .card-item .bg1 {
  background: url(../images/safety-vt4.png) no-repeat center/cover;
}
.sc-safety .mix-scroll .service-box3 .card-item .bg2 {
  background: url(../images/safety-vt5.png) no-repeat center/cover;
}
.sc-safety .mix-scroll .service-box3 .card-item .bg3 {
  background: url(../images/safety-vt6.png) no-repeat center/cover;
}
.sc-safety .mix-scroll .service-box3 .card-item .text {
  opacity: 0;
}
.sc-safety .mix-scroll .service-box3 .card-item:nth-child(2) {
  z-index: -1;
}
.sc-safety .mix-scroll .service-box3 .card-item:nth-child(3) {
  z-index: -2;
}
.sc-safety .mix-scroll .service-box3 .card-item:nth-child(4) {
  z-index: -3;
}
.sc-safety .mix-scroll .service-box3 .end-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 200px;
  height: 100vh;
  color: #fff;
  font-size: 73px;
  font-weight: bold;
  line-height: 90px;
  opacity: 0;
}
.sc-safety .fot-desc {
  width: 700px;
  max-width: 100%;
  font-size: 24px;
  font-weight: 600;
  line-height: 40px;
}

.sc-economy {
  position: relative;
}
.sc-economy .card-item:nth-child(1) {
  background: #E657AF;
}
.sc-economy .card-item:nth-child(2) {
  background: #0049FF;
}
.sc-economy .card-item:nth-child(3) {
  background: transparent;
}
.sc-economy .card-item .title-box {
  min-height: 100px;
}
.sc-economy .card-item .title-box .title {
  color: #fff;
}
.sc-economy .card-item .title-box .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-family: "Archivo", sans-serif;
}
.sc-economy .card-item .title-box .right .caption {
  font-family: sans-serif;
  font-weight: 500;
}
.sc-economy .card-item .info-box .info-title {
  font-size: 16px;
}
.sc-economy .card-item .bg4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/finance.png) no-repeat center/cover;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.sc-economy .desc-box {
  margin-bottom: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 2;
}
.sc-economy .desc-box em {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}
.sc-economy .desc-box .desc {
  margin-bottom: 40px;
}
.sc-economy .arrow-area {
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  font-weight: bold;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.sc-economy .arrow-area.on {
  opacity: 1;
}
.sc-economy .arrow-area .arrow-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}
.sc-economy .arrow-area .arrow-wrap .arrow {
  position: relative;
  display: block;
  width: 27px;
  height: 27px;
  margin-left: -6px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-animation: arrow 1s alternate infinite ease;
          animation: arrow 1s alternate infinite ease;
  border-style: solid;
  border-width: 8px;
  border-left: 0;
  border-bottom: 0;
}
.sc-economy .arrow-area .arrow-wrap .arrow.arrow1 {
  -o-border-image: linear-gradient(60deg, #e657af 60%, #0049ff 160%);
     border-image: linear-gradient(60deg, #e657af 60%, #0049ff 160%);
  border-image-slice: 1;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.sc-economy .arrow-area .arrow-wrap .arrow.arrow2 {
  -o-border-image: linear-gradient(60deg, #e657af 20%, #0049ff 145%);
     border-image: linear-gradient(60deg, #e657af 20%, #0049ff 145%);
  border-image-slice: 1;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.sc-economy .arrow-area .arrow-wrap .arrow.arrow3 {
  -o-border-image: linear-gradient(60deg, #e657af, #0049ff 130%);
     border-image: linear-gradient(60deg, #e657af, #0049ff 130%);
  border-image-slice: 1;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sc-economy .arrow-area .arrow-wrap .arrow.arrow4 {
  -o-border-image: linear-gradient(50deg, #e657af, #0049ff 100%);
     border-image: linear-gradient(50deg, #e657af, #0049ff 100%);
  border-image-slice: 1;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.sc-economy .arrow-area .arrow-wrap .arrow.arrow5 {
  -o-border-image: linear-gradient(50deg, #e657af, #0049ff 80%);
     border-image: linear-gradient(50deg, #e657af, #0049ff 80%);
  border-image-slice: 1;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.sc-economy .arrow-area .arrow-wrap .arrow.arrow6 {
  -o-border-image: linear-gradient(50deg, #0049ff 45%, #43cf2e 135%);
     border-image: linear-gradient(50deg, #0049ff 45%, #43cf2e 135%);
  border-image-slice: 1;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.sc-economy .arrow-area .arrow-wrap .arrow.arrow7 {
  -o-border-image: linear-gradient(51deg, #0049ff, #43cf2e 75%);
     border-image: linear-gradient(51deg, #0049ff, #43cf2e 75%);
  border-image-slice: 1;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}
@-webkit-keyframes arrow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes arrow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.sc-economy .arrow-area .info {
  position: relative;
}
.sc-economy .arrow-area .info span:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  display: block;
}
.sc-economy .arrow-area .info .fade {
  opacity: 0;
}

.sc-creator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 100vh;
  background: url(../images/creator.jpg) no-repeat center/cover;
  text-align: left;
  padding: 0 200px;
  color: #fff;
}
.sc-creator .creator-box {
  opacity: 0;
}
.sc-creator .creator-box .title {
  font-size: 60px;
  color: #fff;
  line-height: 1.2;
  margin-bottom: 20px;
}
.sc-creator .creator-box .text {
  display: block;
  height: auto;
  font-size: 24px;
  font-weight: 600;
  line-height: 40px;
}
.sc-creator .ic-arrow {
  position: absolute;
  bottom: 40px;
  left: 50%;
  width: 40px;
  height: 40px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
}

.sc-data .card-item {
  background: transparent;
  border: 0;
}
.sc-data .card-item:first-child .text {
  opacity: 0;
}
.sc-data .card-item:first-child .text:last-child {
  margin-top: 0;
}
.sc-data .card-item:nth-child(2) {
  background: #0049FF;
}
.sc-data .card-item:nth-child(3) {
  background: #131415;
}
.sc-data .card-item:nth-child(4) {
  background: #00BF41;
}
.sc-data .card-item .title-box {
  min-height: 100px;
}
.sc-data .card-item .title-box .title {
  color: #fff;
  line-height: 65px;
}
.sc-data .card-item .title-box .caption {
  font-family: sans-serif;
  font-weight: 500;
}
.sc-data .card-item .bg2 {
  background: url(../images/choi.png) no-repeat center/cover;
}
.sc-data .card-item.blur .text {
  opacity: 1;
}
.sc-data .desc-box {
  margin-top: 40px;
  margin-bottom: auto;
}
.sc-data .desc-box .text:last-child {
  margin-top: 20px;
}
.sc-data .info-box .color {
  background: #FF009D;
}

.sc-open .inner {
  padding: 200px 100px;
}
.sc-open .inner .desc {
  font-size: 24px;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 70px;
  margin-top: 30px;
}
.sc-open .inner .link-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.sc-open .inner .link-box a {
  font-size: 18px;
  font-weight: 600;
  padding: 14px 21px 12px;
  border: 2px solid #000;
}
.sc-open .inner .link-box .btn-link {
  background: #000;
  color: #fff;
}

.sc-banner02 {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 0.3s 0.2s;
  transition: all 0.3s 0.2s;
  /* transition-delay: .2s; */
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.sc-banner02.on {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.sc-banner02 .banner-rolling {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-animation: banner2 30s linear infinite;
          animation: banner2 30s linear infinite;
}
@-webkit-keyframes banner2 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
@keyframes banner2 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
.sc-banner02 .banner-rolling li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 250px;
  height: 60px;
}
.sc-banner02 .banner-rolling li:nth-child(3n-2) {
  background: #00bf41;
}
.sc-banner02 .banner-rolling li:nth-child(3n-1) {
  background: #0049ff;
}
.sc-banner02 .banner-rolling li:nth-child(3n) {
  background: #e657af;
}
.sc-banner02 .banner-rolling span {
  font-size: 24px;
  font-weight: bold;
  z-index: 2;
  color: #fff;
}
.sc-banner02 .banner-rolling span i {
  font-style: italic;
}
.sc-banner02 .banner-rolling::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  backdrop-filter: blur(35px);
  -webkit-transition: 0.2s 0.5s;
  transition: 0.2s 0.5s;
}
.sc-banner02 .banner-rolling:last-child::before {
  content: "";
  background: -webkit-gradient(linear, left top, right top, from(#e657af), to(#02be42));
  background: linear-gradient(90deg, #e657af 0%, #02be42);
  display: block;
  position: absolute;
  z-index: 3;
  width: 40px;
  height: 60px;
  top: 0;
  left: -20px;
}